.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 2.4rem;
  margin: 2.4rem;
  animation: products 0.3s ease-in forwards;
}

@keyframes products {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.empty {
  align-self: center;
  font-size: 5.2rem;
  position: absolute;
  right: 25%;
}
