.product-element {
  position: relative;
  transition: all 0.3s;
  width: 22rem;
  align-self: center;
}

.sale {
  position: absolute;
  background-color: #f8f9fa;
  padding: 1.2rem;
  top: 2.2rem;
  right: 0;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all 0.3s;
  color: #f03e3e;
}

.image {
  transition: all 0.3s;
}

.image img {
  width: 100%;
  height: 28rem;
}

.description {
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.action {
  display: flex;
  gap: 2.4rem;
  color: #212529;
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-200%);
  opacity: 0;
  transition: all 0.3s;
}

.action a {
  color: #333;
}

.product-element:hover .image {
  opacity: 20%;
}

.product-element:hover .action {
  opacity: 1;
  cursor: pointer;
}

.action span:hover {
  transition: all 0.3s;
  color: #495057;
}
