.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 6.4rem;
  font-size: 1.6rem;
  background-color: #333;
  gap: 4.8rem;
}

.active {
  color: #f0f0f0 !important;
}

.navigation a:first-of-type {
  flex-grow: 1;
}

.navigation a {
  text-decoration: none;
  color: #c9c9c9;
}

.navigation a:hover {
  transition: all 0.3s;
  cursor: pointer;
  color: #f0f0f0;
}

.dropdown {
  position: relative;
}

.drp-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 10rem;
  font-size: 1.6rem;
  padding: 2.4rem;
  background-color: #333;
  text-align: center;
  left: -151%;
  border-radius: 0.8rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.drp-content a {
  text-decoration: none;
  color: #c9c9c9;
}

.drp-btn:hover {
  cursor: pointer;
}

.dropdown:hover .drp-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart {
  position: relative;
}

.cart-quantity {
  color: #333;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  top: -0.5rem;
  right: -1.2rem;
  background: #f0f0f0;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
}
