.home {
  padding: 3.6rem 12rem;
  position: relative;
  height: 90vh;
  background-image: linear-gradient(
      90deg,
      rgb(49, 49, 49, 5),
      rgba(49, 49, 49, 0.5)
    ),
    url("https://e1.pxfuel.com/desktop-wallpaper/962/276/desktop-wallpaper-gym-clothes-working-out-hard-rock-music-youtube-mix-up-gyms-jungle-fans-snow-fire-3300x2000.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.home-header {
  color: #ffff;
  display: flex;
  flex-direction: column;
}

.heading-text {
  font-size: 1.2rem;
}

.header-button {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.3s;
  max-width: fit-content;
  margin-block: 2.2rem;
  text-decoration: none;
}

.header-button:hover,
.header-button:active {
  background-color: #333;
  color: #fff;
  box-shadow: 0 0 0 2px #fff;
}
