/* https://www.w3schools.com/howto/howto_js_slideshow.asp */

.slide-section {
  /* margin: 4.6rem 0; */
  padding-bottom: 6rem;
}

.slide-container {
  max-width: 70rem;
  height: 50rem;
  position: relative;
  align-items: center;
  margin: 0 auto;
}

.slide {
  max-width: 100%;
}

.slide-image {
  display: none;
  display: block;
  width: 100%;
  height: 40rem;
  border-radius: 8px;
}

.fade {
  animation: fade 0.4s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.next,
.prev {
  font-size: 3.2rem;
  position: absolute;
  top: 30%;
  cursor: pointer;
  color: #a9a9a9;
  padding: 1.2rem;
  transition: all 0.6s;
}

.prev {
  right: 0;
}

.next:hover,
.prev:hover {
  background-color: #3e3e3e4d;
  border-radius: 8px;
  color: white;
}

.dots {
  display: flex;
  gap: 1.2rem;
  margin-top: 1.2rem;
  justify-content: center;
}

.dot {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #989898;
  border-radius: 50%;
}

.active-dot {
  background-color: #333;
}
