.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 22rem;
}

.image {
  margin: 2rem 50%;
  width: 28rem;
}

.image img {
  width: 100%;
  transform: translateX(-50%);
}

.form-description {
  padding: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 1.2rem;
  row-gap: 1.2rem;
  border-top: 0.1px solid #3333335e;
}

.gallery img {
  width: 80%;
  transition: all 0.3s;
}

.gallery img:hover {
  cursor: pointer;
  transform: translateY(-0.6rem);
}

.not-exist {
  font-size: 3.2rem;
  width: 60rem;
  margin: 0 auto;
  margin-bottom: 40rem;
  margin-top: 20rem;
  letter-spacing: 2px;
}
